* { font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(6, 6, 80);
}

li {
    list-style: none;
}
a {
    text-decoration: none; 
    color: white;
   
}

.navbar {
    display: flex;
    min-width: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 40px;

}
.logo {
    font-size: 2em;
    font-weight: bold;
    
}
.menu {
    display: flex;
    align-items: center;
    gap: 50px; /* O espaçamentos entre eles */
}

.link-bar {
    transition-duration: .5s;
    font-size: 1.3em;
    
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    

}
.link-bar:hover {
    color: white;
    background-color: rgba(15, 15, 243, 0.123);
    box-shadow: 1px 1px 10px white;
}
.hamburger {
    display: none;
    cursor: pointer;


}
.bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: white;
    transition: all 0.3s;
}
@media (max-width:760px) {
    .hamburger{
        display: block;
    }
    .hamburger.ativo .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.ativo .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0px 0px 15px 15px;
        background-color: rebeccapurple;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.5s;
    }
    .item {
        margin: 16px 0px;

    }
    .navbar.ativo {
        left: 0;
    }
}





